@charset "UTF-8";
.contact-grid .form input, .contact-grid .form textarea, .container-fluid .form input, .container-fluid .form textarea {
  display: block;
  padding: 2%;
  margin: 1% 1% 3%;
  width: 70%;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.447);
  border-color: rgba(128, 128, 128, 0.447); }

/* ----------RESET---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }
  * p, * h1, * h2, * h3, * a {
    color: white; }
  * p {
    font-size: 1.1rem; }

/* ----------LAYOUT---------- */
.grid-container {
  /* ---------- Layout Page ---------- */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.3fr 1fr repeat(2, 0.5fr) 0.1fr;
  gap: 0px 0px;
  grid-template-areas: "header" "banner" "solutions" "about" "contact" "footer"; }
  .grid-container .banner, .grid-container .solutions, .grid-container .about, .grid-container .contact {
    padding-left: 2%;
    padding-right: 2%; }

/* ----------HEADER---------- */
.header-grid {
  background-color: black;
  height: 100%;
  width: 100%;
  /* ---------- Display Header ---------- */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 2; }
  .header-grid .logo-home {
    max-width: 230px; }
  .header-grid .offcanvas-body {
    backdrop-filter: blur(15px); }
  .header-grid .offcanvas-body ul {
    /* Menu */
    list-style-type: none; }
  .header-grid .menu a {
    color: white;
    padding: 10px 15px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 2rem; }
  .header-grid .menu a:hover {
    /* Animacion menu */
    border: 2px solid #6cbdd494;
    color: #6cbdd4; }

/* ----------INDEX---------- */
/* BANNER */
.banner {
  background-image: url(../img/home-banner.jpg);
  grid-area: banner;
  display: flex;
  background-size: cover;
  flex-flow: column wrap;
  justify-content: center; }
  .banner h1, .banner h2 {
    font-size: 3.7rem;
    color: white; }

/* FIN BANNER */
/* NUESTRAS SOLUCIONES */
.solutions {
  background-color: black;
  grid-area: solutions;
  padding-top: 2%;
  padding-bottom: 2%; }
  .solutions .row-solutions {
    width: 70%; }
    .solutions .row-solutions span {
      background-color: #e8336b; }
  .solutions .flex-solutions {
    padding-top: 2%;
    display: flex;
    gap: 1%; }
    .solutions .flex-solutions h3, .solutions .flex-solutions p {
      text-align: center; }
    .solutions .flex-solutions .item-solutions img {
      padding-bottom: 25px;
      display: block;
      margin: auto; }

/* FIN NUESTRAS SOLUCIONES */
/* SOBRE NOSOTROS */
.about {
  background-color: black;
  grid-area: about;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  align-items: center; }
  .about .text-about {
    width: 60%; }
    .about .text-about span {
      background-color: #e8336b; }
    .about .text-about .btn-about {
      border-radius: 20px;
      padding: 1% 2%;
      border: 2px solid #6cbdd4; }
      .about .text-about .btn-about a {
        text-decoration: none; }
      .about .text-about .btn-about a:hover {
        color: black; }
  .about .img-about {
    width: 40%; }
    .about .img-about img {
      display: block;
      margin: auto; }

/* FIN SOBRE NOSOTROS */
/* CONTACTO */
.contact-grid {
  /* ---- Layout Contacto ---- */
  background-color: black;
  grid-area: contact;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 2%;
  padding-right: 3%; }
  .contact-grid .form {
    /* ---- Form ---- */
    margin-top: 0.7%; }
    .contact-grid .form p {
      margin-bottom: 0.7%; }
    .contact-grid .form ::placeholder {
      color: white; }
    .contact-grid .form input[type="submit"] {
      color: white; }

/* FIN CONTACTO */
/* FOOTER */
.footer-grid {
  /* ---------- Estilos del footer ---------- */
  background-color: black;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer-grid img {
    display: block;
    margin: auto; }
  .footer-grid img {
    max-width: 230px; }

/* ------ MEDIA QUERIES HOME----------*/
@media (max-width: 1292px) and (min-width: 1025px) {
  /* HOME ---- MEDIA QUERIE 1292 px */
  .grid-container {
    grid-template-rows: 0.1fr 0.5fr 0.6fr 0.4fr 0.7fr 0.1fr; }
    .grid-container .solutions .row-solutions {
      width: 100%; }
    .grid-container .solutions .flex-solutions {
      flex-wrap: wrap;
      margin-top: 4%; }
      .grid-container .solutions .flex-solutions img {
        width: 30%;
        display: block;
        margin: auto; }
      .grid-container .solutions .flex-solutions p {
        padding-left: 10%;
        padding-right: 10%; }
    .grid-container .about {
      flex-wrap: wrap; }
      .grid-container .about .text-about, .grid-container .about .img-about {
        width: 100%; }
      .grid-container .about .img-about {
        width: 50%;
        margin: auto;
        display: block; }
    .grid-container .contact-grid h2, .grid-container .contact-grid p {
      text-align: center; }
    .grid-container .contact-grid input, .grid-container .contact-grid textarea {
      margin: 20px auto 10px auto; } }

@media screen and (max-width: 1024px) {
  /* HOME ---- MEDIA QUERIE 1024 px */
  .grid-container {
    grid-template-rows: 0.1fr 0.5fr 0.6fr 0.4fr 0.7fr 0.1fr; }
    .grid-container .solutions .row-solutions {
      width: 100%; }
    .grid-container .solutions .flex-solutions {
      flex-wrap: wrap;
      margin-top: 4%; }
      .grid-container .solutions .flex-solutions img {
        width: 40%;
        display: block;
        margin: auto; }
      .grid-container .solutions .flex-solutions .item-solutions p {
        padding-left: 20%;
        padding-right: 20%;
        margin-bottom: 5%; }
    .grid-container .about {
      flex-wrap: wrap; }
      .grid-container .about .text-about, .grid-container .about .img-about {
        width: 100%; }
      .grid-container .about .img-about img {
        width: 90%; }
    .grid-container .contact-grid {
      flex-wrap: wrap; }
      .grid-container .contact-grid .form h2, .grid-container .contact-grid .form p, .grid-container .contact-grid .form input, .grid-container .contact-grid .form textarea {
        text-align: center; }
      .grid-container .contact-grid .form p {
        margin-bottom: 5%; }
      .grid-container .contact-grid .form input, .grid-container .contact-grid .form textarea {
        width: 100%; } }

@media screen and (max-width: 775px) {
  /* HOME ---- MEDIA QUERIE 775 px */
  .grid-container {
    grid-template-rows: 0.1fr 0.4fr 0.6fr 0.8fr 0.8fr 0.1fr; }
    .grid-container .header-grid, .grid-container .banner, .grid-container .solutions, .grid-container .about {
      padding-left: 3%;
      padding-right: 3%; }
    .grid-container .header-grid .menu a {
      padding: 9px 4px; }
    .grid-container .contact-grid .form {
      padding-left: 2%;
      padding-right: 2%; } }

@media screen and (max-width: 704px) {
  /* HOME ---- MEDIA QUERIE 704 px */
  .header-grid .menu a {
    font-size: 2rem;
    padding: 6px 8px;
    margin: 5px; }
  .grid-container .banner h1, .grid-container .banner h2, .grid-container .banner p, .grid-container .solutions h2, .grid-container .solutions p, .grid-container .about h2, .grid-container .about p {
    text-align: center; }
  .grid-container .about .btn-about {
    display: block;
    margin: auto; }
  .grid-container .contact-grid .form {
    padding-left: 2%;
    padding-right: 2%; }
    .grid-container .contact-grid .form input {
      color: white; } }

@media screen and (max-width: 600px) {
  /* HOME ---- MEDIA QUERIE 600 px */
  .header-grid .menu a {
    font-size: 1.5rem;
    padding: 6px 8px;
    margin: 5px; }
  div#offcanvasScrolling {
    right: -20%; }
  .grid-container .banner h1, .grid-container .banner h2, .grid-container .banner p, .grid-container .solutions h2, .grid-container .solutions p, .grid-container .about h2, .grid-container .about p {
    text-align: center; }
  .grid-container .about .btn-about {
    display: block;
    margin: auto; }
  .grid-container .contact-grid .form {
    padding-left: 2%;
    padding-right: 2%; }
    .grid-container .contact-grid .form input {
      color: white; } }

/* ---------- PAGINA DESARROLLO WEB ---------- */
/* LAYOUT DES-WEB */
.dev-web {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.2fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "banner-dw" "service-dw";
  /* BANNER DES-WEB */ }
  .dev-web .banner-dw {
    grid-area: banner-dw;
    background-image: url(../img/home-dw.jpg);
    padding-left: 2%;
    display: flex;
    background-size: cover;
    flex-flow: column wrap;
    justify-content: center;
    /* FIN BANNER DES-WEB */ }
    .dev-web .banner-dw h1, .dev-web .banner-dw h2 {
      font-size: 3.7rem;
      color: white; }
  .dev-web .service-dw {
    /* SERVICE DESARROLLO WEB */
    grid-area: service-dw;
    display: flex;
    padding: 5% 2%; }
    .dev-web .service-dw .item-web {
      width: 50%; }
      .dev-web .service-dw .item-web p, .dev-web .service-dw .item-web h3 {
        padding: 5%;
        /* FIN SERVICE DESARROLLO WEB */ }

/* ------ MEDIA QUERIES DESARROLLO WEB----------*/
@media (max-width: 1292px) and (min-width: 1025px) {
  /* DESARROLLO WEB ---- MEDIA QUERIE 1292 px */
  /* LAYOUT */
  .dev-web {
    /* SERVICE DESARROLLO WEB */ }
    .dev-web .service-dw {
      flex-wrap: wrap;
      padding-bottom: 0; }
      .dev-web .service-dw .item-web {
        width: 100%; }
        .dev-web .service-dw .item-web h3, .dev-web .service-dw .item-web p {
          padding: 2%; }
      .dev-web .service-dw .item-web img {
        width: 40%;
        display: block;
        margin: auto; }
  .contact-grid {
    flex-wrap: wrap; }
    .contact-grid .form h2, .contact-grid .form p, .contact-grid .form input, .contact-grid .form textarea {
      text-align: center; }
    .contact-grid .form p {
      margin-bottom: 5%; }
    .contact-grid .form textarea, .contact-grid .form input {
      margin: 20px auto 10px auto;
      width: 95%; } }

@media screen and (max-width: 1024px) {
  .contact-grid {
    flex-wrap: wrap; }
    .contact-grid .form h2, .contact-grid .form p, .contact-grid .form input, .contact-grid .form textarea {
      text-align: center; }
    .contact-grid .form p {
      margin-bottom: 5%; }
    .contact-grid .form textarea, .contact-grid .form input {
      margin: 20px auto 10px auto;
      width: 95%; }
  /* DESARROLLO WEB ---- MEDIA QUERIE 1024 px */
  /* LAYOUT */
  .dev-web {
    grid-template-rows: 0.8fr 0.3fr;
    /* SERVICE DESARROLLO WEB */ }
    .dev-web .service-dw {
      flex-wrap: wrap;
      padding-bottom: 0; }
      .dev-web .service-dw .item-web {
        width: 100%; }
      .dev-web .service-dw .item-web img {
        width: 60%;
        margin: auto;
        display: block; } }

/* ---------- PAGINA MARKETING DIGITAL ---------- */
/* LAYOUT MKT */
.mkt-dig {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "banner-mkt" "service-mkt-dig";
  /* BANNER MKT */ }
  .mkt-dig .banner-mkt {
    grid-area: banner-mkt;
    background-image: url(../img/home-mkt.jpg);
    padding-left: 2%;
    display: flex;
    background-size: cover;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* FIN BANNER MKT */ }
    .mkt-dig .banner-mkt h1, .mkt-dig .banner-mkt h2 {
      font-size: 3.7rem;
      color: white;
      text-shadow: 0px 0px 20px black; }
  .mkt-dig .service-mkt-dig {
    /* SERVICE MARKETING DIGITAL */
    grid-area: service-mkt-dig;
    display: flex;
    padding: 5% 2%;
    align-items: center; }
    .mkt-dig .service-mkt-dig .item-mkt, .mkt-dig .service-mkt-dig .mkt-img {
      width: 50%; }
    .mkt-dig .service-mkt-dig .item-mkt p {
      padding: 2% 5%; }
    .mkt-dig .service-mkt-dig .mkt-img {
      margin: auto; }
      .mkt-dig .service-mkt-dig .mkt-img img {
        display: block;
        margin: auto;
        /* FIN SERVICE MARKETING DIGITAL */ }

/* ------ MEDIA QUERIES MARKETING DIGITAL ----------*/
@media (max-width: 1292px) and (min-width: 1025px) {
  /* MARKETING DIGITAL ---- MEDIA QUERIE 1292 px */
  .mkt-dig .service-mkt-dig {
    flex-flow: column-reverse wrap; }
    .mkt-dig .service-mkt-dig .item-mkt, .mkt-dig .service-mkt-dig .mkt-img {
      width: 100%; }
    .mkt-dig .service-mkt-dig .mkt-img img {
      width: 65%; } }

@media screen and (max-width: 1024px) {
  /* MARKETING DIGITAL ---- MEDIA QUERIE 1024 px */
  .mkt-dig .banner-mkt h1, .mkt-dig .banner-mkt h2 {
    font-size: 2.5rem; }
  .mkt-dig .banner-mkt h2 {
    text-align: center; }
  .mkt-dig .service-mkt-dig {
    flex-flow: column-reverse wrap; }
    .mkt-dig .service-mkt-dig .item-mkt {
      width: 100%; }
    .mkt-dig .service-mkt-dig .mkt-img {
      width: 90%; } }

/* ---------- PAGINA DISEÑO ---------- */
/* LAYOUT DISEÑO */
.desing {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "banner-design" "service-design";
  /* BANNER DISEÑO */ }
  .desing .banner-design {
    grid-area: banner-design;
    background-image: url(../img/home-desing.jpg);
    padding-left: 2%;
    display: flex;
    background-size: cover;
    flex-flow: column wrap;
    justify-content: center;
    /* FIN BANNER DISEÑO */ }
    .desing .banner-design h1, .desing .banner-design h2 {
      font-size: 3.7rem;
      color: white; }
  .desing .service-design {
    /* SERVICE DISEÑO */
    grid-area: service-design;
    display: flex;
    padding: 5% 2%;
    align-items: center; }
    .desing .service-design .item-design {
      width: 50%; }
      .desing .service-design .item-design p, .desing .service-design .item-design h2 {
        padding: 2% 5%; }
      .desing .service-design .item-design p {
        margin-bottom: 0; }
      .desing .service-design .item-design i {
        color: #e8336b;
        font-size: 25px; }
    .desing .service-design .design-img {
      margin: auto; }
    .desing .service-design .mkt-design img {
      display: block;
      margin: auto;
      /* FIN SERVICE DISEÑO */ }

/* ------ MEDIA QUERIES DISEÑO ----------*/
@media (max-width: 1292px) and (min-width: 1025px) {
  .contact-grid {
    flex-wrap: wrap; }
    .contact-grid .form h2, .contact-grid .form p, .contact-grid .form input, .contact-grid .form textarea {
      text-align: center; }
    .contact-grid .form p {
      margin-bottom: 5%; }
    .contact-grid .form textarea, .contact-grid .form input {
      margin: 20px auto 10px auto;
      width: 95%; } }

@media screen and (max-width: 1024px) {
  /* SERVICE DISEÑO */
  .desing .service-design {
    flex-flow: column-reverse wrap; }
    .desing .service-design .item-design {
      width: 100%; } }

@media screen and (max-width: 803px) {
  /* DISEÑO ---- MEDIA QUERIE 803 px */
  .desing .banner-design h1, .desing .banner-design h2 {
    font-size: 2.5rem; } }

/* ---------- PAGINA CONTACTO ---------- */
/* LAYOUT CONTACTO */
.container-fluid {
  background-color: black;
  padding-left: 2%;
  padding-right: 2%; }
  .container-fluid header .logo-home {
    max-width: 230px; }
  .container-fluid header .offcanvas-body {
    backdrop-filter: blur(15px); }
  .container-fluid header .offcanvas-body ul {
    /* Menu */
    list-style-type: none; }
  .container-fluid header .menu a {
    color: white;
    padding: 10px 15px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 2rem; }
  .container-fluid header .menu a:hover {
    /* Animacion menu */
    border: 2px solid #6cbdd494;
    color: #6cbdd4; }
  .container-fluid .banner-contact {
    background-image: url(../img/home-contact.jpg); }
  .container-fluid .form {
    /* ---- Form ---- */
    margin-top: 0.7%; }
    .container-fluid .form p {
      margin-bottom: 0.7%; }
    .container-fluid .form ::placeholder {
      color: white; }
    .container-fluid .form input[type="submit"] {
      color: white; }
  .container-fluid footer .logo-footer {
    max-width: 230px; }

/* ------ MEDIA QUERIES CONTACTO ----------*/
@media (max-width: 1292px) and (min-width: 1025px) {
  .container-fluid .contact {
    flex-wrap: wrap; }
    .container-fluid .contact .form {
      width: 100%; }
      .container-fluid .contact .form h2, .container-fluid .contact .form p, .container-fluid .contact .form input, .container-fluid .contact .form textarea {
        text-align: center; }
      .container-fluid .contact .form p {
        margin-bottom: 5%; }
      .container-fluid .contact .form textarea, .container-fluid .contact .form input {
        margin: 20px auto 10px auto;
        width: 95%; }
    .container-fluid .contact .img-contact {
      width: 100%; } }

@media screen and (max-width: 1024px) {
  .container-fluid .contact {
    flex-wrap: wrap; }
    .container-fluid .contact .form {
      width: 100%; }
      .container-fluid .contact .form h2, .container-fluid .contact .form p, .container-fluid .contact .form input, .container-fluid .contact .form textarea {
        text-align: center; }
      .container-fluid .contact .form p {
        margin-bottom: 5%; }
      .container-fluid .contact .form textarea, .container-fluid .contact .form input {
        margin: 20px auto 10px auto;
        width: 95%; }
    .container-fluid .contact .img-contact {
      width: 100%; } }

/* Animaciones Home */
/* Animations Banner Home*/
.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: slide-in-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -o-animation: slide-in-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    -moz-transform: translateZ(-1400px);
    -o-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

/* Animations text */
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
  -moz-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
  -o-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -o-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

/* Animations Planets */
.planet {
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  -moz-transform: translatey(0px);
  -webkit-transform: translatey(0px);
  -o-transform: translatey(0px);
  animation: float 6s ease-in-out infinite; }

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    -moz-transform: translatey(0px);
    -webkit-transform: translatey(0px);
    -o-transform: translatey(0px); }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
    -moz-transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
    -o-transform: translatey(-20px); }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    -moz-transform: translatey(0px);
    -webkit-transform: translatey(0px);
    -o-transform: translatey(0px); } }

/* Animations Diseño */
.shake-top {
  -webkit-animation: shake-top 8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
  animation: shake-top 8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
  -moz-animation: shake-top 8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
  -o-animation: shake-top 8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both; }

@-webkit-keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -o-transform-origin: 50% 0; }
  10% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg); } }
