@import "layout/grid.scss"; 
@import "layout/header.scss"; 
@import "base/variables"; 
@import "base/listas";
@import "views/home";
@import "base/maps";
@import "base/extend";
@import "layout/footer.scss";
@import "layout/contacto";
@import "views/desweb";
@import "views/mkt";

/* ----------RESET---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;

    p, h1, h2, h3, a {
        color: $color-font;
    }
}

/* ----------LAYOUT---------- */

.grid-container {
    @include grid;

    .header-grid, .banner, .solutions, .about, .contact {
        padding-left: $padding-layout;
        padding-right: $padding-layout;
    }
}

/* ----------HEADER---------- */

.header-grid {
    background-color: $color-background;
    height: $height-principal;
    width: $width-principal;
    
    @include display-header;

    .logo-home {
        max-width: $logo-header;
    }

    // Menu

    .offcanvas-body ul {
        @include menu-canvas;
    }

    .menu a {
        @include enlaces;
    }

    .menu a:hover {
        @include animations-menu;
    }
}

/* ----------INDEX---------- */

/* BANNER */

.banner {
    background-image: url(../img/home-banner.jpg);
    grid-area: banner;

    @include banner;    
}

/* FIN BANNER */

/* NUESTRAS SOLUCIONES */

.solutions {
    
    @include solutions;

    .row-solutions span {
        background-color: nth($colores, 3);
    }

    .flex-solutions {
        display: flex;
        gap: $gap;

        h3, p {
            text-align: center;
        }

        .item-solutions img {
            padding-bottom: 25px;
            display: block;
            margin: auto;
        }
    }
}

/* FIN NUESTRAS SOLUCIONES */

/* SOBRE NOSOTROS */

.about {
    
    @include about;

    .text-about {
        width: 60%;

        span {
            background-color: nth($colores, 3);
        }

        .btn-about {
            border-radius: map-get($map: $button-line, $key: border-line);
            padding: 1% 2%;
            border: 2px solid nth($colores, 1);

            a {
                text-decoration: none;
            }

            a:hover {
                color: black;
            }
        }
    }

    .img-about {
        width: 40%;

        img {
            display: block;
            margin: auto;
        }
    }
}

/* FIN SOBRE NOSOTROS */

/* CONTACTO */

.contact-grid {
    
    @include contacto;

    .form {
        
        @include form;
    }
}

/* FIN CONTACTO */

/* FOOTER */

.footer-grid {
    
    @include footer;
}

/* ------ MEDIA QUERIES HOME----------*/

@media screen and (max-width:1024px) {
    
    @include home-1024;
}

@media screen and (max-width: 775px) {

    @include home-775;
}

@media screen and (max-width: 704px) {

    @include home-704;
}

@media screen and (max-width: 600px) {

    @include home-600;
}

/* Animaciones Home */

.puff-in-center {
    @include puff-in-center (1s, 0.470, 0.000, 0.745, 0.715);
}

/* ---------- PAGINA DESARROLLO WEB ---------- */

/* LAYOUT DES-WEB */

.dev-web {
    @include dev-web;

        /* BANNER DES-WEB */

    .banner-dw {
        grid-area: banner-dw;
        background-image: url(../img/home-dw.jpg);
        padding-left: $padding-layout;

        @include banner;

        /* FIN BANNER DES-WEB */
    }

    .service-dw {

        /* SERVICE DESARROLLO WEB */

        grid-area: service-dw;
        display: flex;
        padding: 5% $padding-layout;

        .item-web {
            width: 50%;

            p, h3 {
                padding: 5%;
        
        /* FIN SERVICE DESARROLLO WEB */
            }
        }
    }
}

/* ------ MEDIA QUERIES DESARROLLO WEB----------*/

@media screen and (max-width:1024px) {

        @include dw-1024;
}

/* ---------- MARKETING DIGITAL ---------- */

/* LAYOUT MKT */

.mkt-dig {
    @include mkt-dig;

    /* BANNER MKT */

    .banner-mkt {
        grid-area: banner-mkt;
        background-image: url(../img/home-mkt.jpg);
        padding-left: $padding-layout;

        @include banner-mkt;

        /* FIN BANNER MKT */
    }

    .service-mkt-dig {

        /* SERVICE MARKETING DIGITAL */

        @include service-mkt-dig;

        .item-mkt, .mkt-img {
            width: 50%;
        }

        .item-mkt p{
            padding: 2% 5%;
        }

        .mkt-img {
            margin: auto;

            img {
                display: block;
                margin: auto;

        /* FIN SERVICE MARKETING DIGITAL */
            }
        }
    }
}

/* ------ MEDIA QUERIES MARKETING DIGITAL ----------*/

