
@mixin contacto {

    /* ---- Layout Contacto ---- */

    background-color: $color-background;
    grid-area: contact;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-left: $padding-layout;
    padding-right: 3%;
}

@mixin form {

    /* ---- Form ---- */

    margin-top: 0.7%;

        p {
            margin-bottom: 0.7%;
        }

        input, textarea {
            @extend %style-input;
        }

        ::placeholder {
            color: $color-font;
        }

        input[type="submit"] {
            color: white;
        }
}

@mixin queries-contact {

    .contact-grid {
        flex-wrap: wrap;

        .form h2, .form p, .form input, .form textarea {
            text-align: center;
        }

        .form p {
            margin-bottom: 5%;            
        }

        .form textarea, .form input {
            margin: 20px auto 10px auto;
            width: 95%;
        }
    }
}

@mixin queries-contact-bootstrap {

    .container-fluid {

        .contact {
            flex-wrap: wrap;

            .form {
                width: 100%;

                h2, p, input, textarea {
                    text-align: center;
                }
        
                p {
                    margin-bottom: 5%;            
                }
        
                textarea, input {
                    margin: 20px auto 10px auto;
                    width: 95%;
                }
            }    

            .img-contact {
                width: 100%;
            }
        }
    }
}

@mixin whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color: nth($colores, 1);
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:40px;
    z-index:100;
}