// Layout 

@mixin design {
    background-color: $color-background;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:"banner-design"
                        "service-design";
}

// Service DISEÑO

@mixin service-design {
    grid-area: service-design;
    display: flex;
    padding: 5% 2%;
    align-items: center;
}

// Medias Queries

@mixin design-803 {

    /* DISEÑO ---- MEDIA QUERIE 803 px */

    .desing {

        .banner-design h1, .banner-design h2 {
            font-size: $font-h2;
        }
    }
}