// Layout 

@mixin mkt-dig {
    background-color: $color-background;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:"banner-mkt"
                        "service-mkt-dig";
}

// Banner

@mixin banner-mkt {
    display: flex;
    background-size: cover;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    h1, h2 {
        font-size: $font-banner;
        color: $color-font;
    }
}

// Service MKT

@mixin service-mkt-dig {
    grid-area: service-mkt-dig;
    display: flex;
    padding: 5% $padding-layout;
    align-items: center;
}

