// Layout 

@mixin mkt-dig {
    background-color: $color-background;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:"banner-mkt"
                        "service-mkt-dig";
}

// Banner

@mixin banner-mkt {
    display: flex;
    background-size: cover;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    h1, h2 {
        font-size: $font-banner;
        color: $color-font;
    }
}

// Service MKT

@mixin service-mkt-dig {
    grid-area: service-mkt-dig;
    display: flex;
    padding: 5% $padding-layout;
    align-items: center;
}

// Medias Queries

@mixin mkt-1292 {

    /* MARKETING DIGITAL ---- MEDIA QUERIE 1292 px */

    .mkt-dig .service-mkt-dig {
        flex-flow: column-reverse wrap;

        .item-mkt, .mkt-img {
            width: 100%;
        }

        .mkt-img img {
            width: 65%;
        }
    }
}

@mixin mkt-1024 {

    /* MARKETING DIGITAL ---- MEDIA QUERIE 1024 px */
    
    .mkt-dig {

        .banner-mkt h1, .banner-mkt h2 {
            font-size: $font-h2;
        }

        .banner-mkt h2 {
            text-align: center;
        }

        .service-mkt-dig {

            flex-flow: column-reverse wrap;
                
            .item-mkt {
                width: 100%;
            }

            .mkt-img {
                width: 90%;
            }
        }  
    }    
}

