
// COLORES

$color-background: black;

$color-font: white;

// TIPOGRAFIAS

$font-parrafo: 1rem;

$font-h2: 2.5rem;

$font-menu: 2rem;

$font-banner: 3.7rem;


// MEDIDAS

$width-principal: 100%;

$height-principal: 100%;

$padding-layout: 2%;

$gap: 1%;

// IMAGENES

$logo-header: 230px;
